{% block faq_module_index %}
    <sw-page class="faq-module-index">
        <template slot="content">
            
            <div class="faqContainer">
            <h1>Hier können Sie Ihre Produkt FAQs bearbeiten!</h1>
                <sw-select-field
                    :options="mainProductsOptions"
                    v-model="selectedProductId"
                    label="Produkt auswählen"
                ></sw-select-field>
                <sw-text-field
                    label="Frage"
                    v-model="question">
                </sw-text-field>

                <sw-text-field
                    label="Antwort"
                    v-model="answer">
                </sw-text-field>

                <sw-button @click="saveFAQ">FAQ speichern</sw-button>
                <div v-if="successMessage" class="alert alert-success">{{ successMessage }}</div>
                <div v-if="errorMessage" class="alert alert-danger">{{ errorMessage }}</div>
            
                <div id="displayUnansweredFAQContainer">
                    <h1>Unbeantworteten FAQ Fragen</h1>
                    <div id="displayUnansweredFAQ"></div>
                </div>
            </div>
        </template>
    </sw-page>
{% endblock %}
