.faq-module-index h1 {
    text-align: center;
    margin-top: 4%;
}

.faqContainer {
    margin: 5% 10% 0 10%;
}

.alert-success {
    margin-top: 1%;
    color: green;
}

.alert-danger {
    margin-top: 1%;
    color: red;
}
